# Java build
/target/
/bin/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IntelliJ
/.idea/
/*.iml
out/

# VSCode
.vscode/

# Tomcat / Smart Tomcat plugin
.smarttomcat/
.smarttomcat/**

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
